# Global
.*.swp
.DS_Store

# Application
web/app/composer.json
web/app/composer.lock
web/app/vendor/
web/app/doc/
web/app/report/

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# VSCode
.vscode/

# SSL Certs
etc/ssl/
/.idea/byalexes.site.iml
/.idea/csv-plugin.xml
/.idea/dataSources.xml
/.idea/magento2plugin.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/data/
/.idea/dataSources.local.xml
/.idea/php.xml
/.idea/symfony2.xml
